<nav class="indigo" role="navigation">
  <div class="nav-wrapper">
    <a data-activates="slide-out" class="button-collapse show-on-" href="#!"><img style="margin-top: 17px; margin-left: 5px;" src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463989873/smaller-main-logo_3_bm40iv.gif" /></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a  href="#!" (click)="onClickLogout()" >Salir</a></li> 
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>